---
layout: base.njk
title: 404 Not Found
permalink: 404.html
---

<h1>{{ title }}</h1>

<p>

Sorry, could not find that page. Go to:

<ul>
	<li><a href="/en">Home (English)</a></li>
	<li><a href="/ja">Home (日本語)</a></li>
</ul>

</p>
