* {
	box-sizing: border-box;
}

:root {
	--font-family: -apple-system, system-ui, sans-serif;

	--background-color: #fef8f0;
	--text-color: #333;
}

html {
	& body {
		padding: 0;
		margin: 0 auto;
		max-width: 38em;

		font-family: var(--font-family);
		color: var(--text-color);
		background-color: var(--background-color);
	}
}

main {
	padding: 1em;
	& h1 {
		font-size: 2.8rem;
	}
	& h2 {
		font-size: 2rem;
	}
	& h3 {
		font-size: 1.4rem;
	}
	&:lang(ja) {
		line-height: 1.8em;
	}
	&:lang(en) {
		line-height: 1.5em;
	}
	& .post-data {
		list-style: none;
		padding: 0;
		padding-left: 1.5rem;
		& time {
			margin-right: 1em;
		}
	}
}

header {
	border-bottom: 0.8px dashed var(--text-color);
	padding: 1em;
	& a {
		color: var(--text-color);
	}
	& a:not(:hover) {
		text-decoration: none;
	}
	& nav {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1em .5em;
		margin: 0;
		padding: 0;
		& .home-link {
			font-size: 1.4em;
			font-weight: 700;
			margin: 0;
			padding: 0;
		}
		& .content-nav {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
			& .nav-item {
				display: inline-block;
				margin-right: 0.7em;
				& a[href][aria-current="page"] {
					text-decoration: underline;
				}
			}
		}
	}
	& .alternative-link {
		font-size: 0.8rem;
		margin: 0;
		padding: 0;
	}
}
