<a href="{{ '/' | locale_url }}">
	{{ metadata.title }}
</a>

<nav>
	<ul>
		{%- for item in collections.all | locale_pages | eleventyNavigation %}
		<li>
			<a href="{{ item.url }}">
				{{ item.key }}
			</a>
		</li>
		{%- endfor %}
	</ul>
</nav>

<small>
	Site is also available in:
	{%- for link in "/" | locale_url | locale_links %}
	<a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
		{{ link.label }}
	</a>
	{%- endfor %}
</small>
