<nav >
<h1 class="home-link">
	<a href="{{ '/' | locale_url }}">
		{{ metadata.title }}
	</a>
</h1>

	<ul class="content-nav">
		{%- for item in collections.all | locale_pages | eleventyNavigation %}
		<li class="nav-item">
			<a href="{{ item.url }}" {% if item.url == page.url %} aria-current="page"{% endif %}>
				{{ item.key }}
			</a>
		</li>
		{%- endfor %}
	</ul>
</nav>

<small class="alternative-link">
	Site is also available in:
	{%- for link in "/" | locale_url | locale_links %}
	<a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
		{{ link.label }}
	</a>
	{%- endfor %}
</small>
