---
layout: base.njk
eleventyNavigation:
  key: Blog
  order: 2
---

<ol reverse class="post-list">
	{% for item in collections.posts | reverse %}
	{% if page.url != item.url %}
	<li>
		<time datetime="{{ page.date | htmlDateString }}">
			{{ item.data.date | readableDate }}
		</time>
		<a href="{{ item.url }}">{{ item.data.title }}</a>
	</li>
	{% endif %}
	{% endfor %}
</ol>
