---
layout: base.njk
eleventyNavigation:
  key: Blog
  order: 2
---

<ol reverse class="post-list">
	{% for item in collections.posts | reverse %}
	{% if page.url != item.url %}
	<li class="post-list-item">
		<time datetime="{{ page.date | htmlDateString }}" class="post-list-date">
			{{ item.data.date | readableDate }}
		</time>
		<a href="{{ item.url }}" class="post-list-link">
			{{ item.data.title }}
		</a>
	</li>
	{% endif %}
	{% endfor %}
</ol>
